<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>David Grijalva Portfolio</title>

</head>
<body>
    <div class="nav">
    <div class="main-container">
            <div class="nav-logo">
               <a  id= "nav-logo-id"  href="./index.html"> <p> DG Portfolio</p> </a>
            </div>
            <div class="nav"></div>
        </div>
    </div>    
    <div class="main-container">
        <div id = "sub-container-id" class="sub-container">
            

            <section class="profile-pic">
                <img class="profile-pic-pic" src="/assets/profile-pic/19814808.jpeg"> 
             </section>
             <section class="summary">
                 <div class="name">
                     <h1>David Grijalva</h1>
                 </div>
                 <div class="heading">
                     <h2>Summary</h2>
                     <div class="main-text">
                         <p class="about">Product Lead with demonstrated experience in exploring data in order to 
                             create actionable insights and turning them into impactful results. 
                             Strongly passionate about product management, data science, machine learning and natural language processing. </p>
                     </div>
                 </div>
                 <div class="work-experience">
                     <h2> Work Experience</h2>
                     <div class="main-text">
                         <p class="institution-name">Indeed.com</p>
                         <p class="position">Senior Product Lead</p>
                     </div>
                 </div>
                 <div class="education">
                     <h2>Education</h2>
                     <div class="main-text">
                         <p class="institution-name"> Southern Methodist University</p>
                         <p class="position"> Master of Data Science</p>
                         <p class="date">Graduation Date: May 2022</p>
                     </div> 
                 </div>
             </section>
             <section class="works">
                 <div class="beer-study">
                     <h2> Work Portfolio</h2>
                     <div class="main-text">
                         <button id="work-card-container-id" class="work-card">
                             <div  class="work-card-container">
                                 <p class="work-title">Beer & Breweries Study</p>
                                 <img class="works-item-svg" src="/assets/works/beer-svgrepo-com.svg">  
                             </div>
                         </button>
                     </div>
                 </div>
             </section>


        </div>
    </div>  
</body>
</html>