
@import "./reset.scss",  "variables.scss", "./nav.scss", "home.scss";


html {
    font-family: Helvetica Neue,Helvetica,Arial,Liberation Sans,Roboto,Noto,sans-serif;
    background-color: white;
    font-size: 1.3rem
}

p {
    line-height: 170%;
}

button > * {
   pointer-events: none;
 }

